.homee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #F7F7F7;
}
header{
    position: relative;
    height: 380PX;
    max-width: 1024px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    position: absolute;
    top: 79px;
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 3.89px;
}
header .select{
    position: absolute;
    top:225px;
    /* width: 100%; */
    /* display: flex;
    justify-content: center;  */
}
header .select .css-b62m3t-container{
    width: 452px;
    height: 48px;
    border-radius: 3px;
    font-size: 1.5rem;
    margin: auto;
    position: relative;
}
header .select .css-t3ipsp-control{
    background-color: rgba(238, 238, 238, 0.8);
    font-size: 1.5rem;
    border:3px solid white;
    height: 48px;
    background-image: url(https://hexschool.github.io/JavaScript_HomeWork/assets/icons_down.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    transition: 0s;
}
header .select .css-13cymwt-control{
    background-color: rgba(238, 238, 238, 0.8);
    font-size: 1.5rem;
    border:3px solid white;
    height: 48px;
    background-image: url(https://hexschool.github.io/JavaScript_HomeWork/assets/icons_down.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    transition: 0s;
}
header .select .css-1xc3v61-indicatorContainer{
    display: none;
}
header .select .css-15lsz6c-indicatorContainer{
    display: none;
}
.content{
    margin-top: 270px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2vw;
}
.content .card{
    width:70vw;
    max-width: 464px;
    height: auto;
    min-height: 273px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.content .card img{
    object-fit: cover;
    height: 155px;
    width: 100%;
    
}
.card-grid .card-top{
    height: 155px;
    position: relative;
}
.card-top h2{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: 400;
    margin-bottom: 14px;
    margin-left: 22px;
    font-size: 24px;
}
.card-top p{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin-right: 24px;
    margin-bottom: 11px;
}
.card .card-info{
    margin-top: 16px;
}
.card .card-info .timeopen{
    margin-bottom: 8px;
    display: flex;
}
.card .card-info .address{
    margin-bottom: 8px;
    display: flex;
}
.card .card-info .phone{
    margin-bottom: 8px;
    display: flex;
}
.card .card-info .timeopen img{
    width: 18px;
    height: 18px;
    margin-right: 9px;
    margin-left: 23px;
}
.card .card-info .address img{
    width: 16px;
    height: 20px;
    margin-right: 10px;
    margin-left: 24px;
}
.card .card-info .phone img{
    width: 12px;
    height: 20px;
    margin-right: 12px;
    margin-left: 26px;
}




