.homee{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    background-color: #F7F7F7;
    transition: 1s;
}
header{
    position: relative;
    height: 380px;
    max-width: 1024px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    position: absolute;
    top: 79px;
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 3.89px;
}
header .select{
    position: absolute;
    top:225px;
    /* width: 100%; */
    /* display: flex;
    justify-content: center;  */
}
header .select .css-b62m3t-container{
    width: 452px;
    height: 48px;
    border-radius: 3px;
    font-size: 1.5rem;
    margin: auto;
    position: relative;
}
header .select .css-t3ipsp-control{
    background-color: rgba(238, 238, 238, 0.8);
    font-size: 1.5rem;
    border:3px solid white;
    height: 48px;
    background-image: url(https://hexschool.github.io/JavaScript_HomeWork/assets/icons_down.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    transition: 0s;
}
header .select .css-13cymwt-control{
    background-color: rgba(238, 238, 238, 0.8);
    font-size: 1.5rem;
    border:3px solid white;
    height: 48px;
    background-image: url(https://hexschool.github.io/JavaScript_HomeWork/assets/icons_down.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    transition: 0s;
}
header .select .css-1xc3v61-indicatorContainer{
    display: none;
}
header .select .css-15lsz6c-indicatorContainer{
    display: none;
}
.popular{
    max-width: 800px;
    width: 95vw;
    margin-top: 352px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
}
.popular p{
    font-size: 18px;
    margin-left: 26px;
    margin-top: 20px;
}
.popular .popular_option{
    display: flex;
    flex-wrap: wrap;
    margin-left: 51px;
    margin-top: 14px;
}
.popular .popular_option button{
    margin-right: 23px;
    margin-bottom: 18px;
    height: 42px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    color: white;
}
/*分割線*/
.line{
    max-width: 900px;
    height: 1px;
    position: relative;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: linear-gradient(to right, #559AC8 3px, transparent 3px);
    background-size: 10px 1px;
    background-repeat: repeat-x;
}
.line .icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line .icon .icon_contain{
    width: 24px;
    height: 24px;
    border: 1px solid #559AC8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.line .icon .icon_contain .triangle{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 11px solid #559AC8;
}
/*  */
.content{
    margin-top: 270px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 36px;
    max-width: 1024px;
    padding: 0 40px;
    position: relative;
}
.content >h2{
    position: absolute;
    top: -64px;
    left: calc(50% - 54px);
    font-size: 36px;
    color: #8A82CC;
}
.content .card{
    width:40vw;
    max-width: 464px;
    height: auto;
    min-height: 273px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.content .card img{
    object-fit: cover;
    height: 155px;
    width: 100%;
    
}
.card-grid .card-top{
    height: 155px;
    position: relative;
}
.card-top h2{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: 400;
    margin-bottom: 14px;
    margin-left: 22px;
    font-size: 24px;
}
.card-top p{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin-right: 24px;
    margin-bottom: 11px;
}
.card .card-info{
    margin-top: 16px;
}
.card .card-info .timeopen{
    margin-bottom: 8px;
    display: flex;
}
.card .card-info .address{
    margin-bottom: 8px;
    display: flex;
}
.card .card-info .phone{
    margin-bottom: 8px;
    display: flex;
}
.card .card-info .timeopen img{
    width: 18px;
    height: 18px;
    margin-right: 9px;
    margin-left: 23px;
}
.card .card-info .address img{
    width: 16px;
    height: 20px;
    margin-right: 10px;
    margin-left: 24px;
}
.card .card-info .phone img{
    width: 12px;
    height: 20px;
    margin-right: 12px;
    margin-left: 26px;
}
.content .totop{
    position: fixed;
    right: 52px;
    bottom: 90px;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0);
    border-style: none;
    padding: 0;
    height: 24px;
    opacity: 0;
}
/* paging */
.paging{
    display: flex;
    margin-top: 49px;
}
/* footer */
footer{
    width: 100vw;
    max-width: 1024px;
    height: 90px;
    background-color: #559AC8;
    margin-top: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer_name{
    margin-top: 20px;
}
footer .apifrom{
    color: #FFD366;
    margin-top: 15px;
}
.content .active{
    opacity: 1;
}

@media (max-width: 640px) {
    header{
        width: 100vw;
    }
    header .select .css-b62m3t-container{
        width: 80vw;
        height: 30px;
    }
    .popular{
        height: auto;
    }
    .popular .popular_option button{
        font-size: 14px;
    }
    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        padding: 0;
        column-gap: 0;
        margin-top: 400px;
    }
    .content .card{
        width:85vw;
        
    }
}